<div class="row">
  <div class="col-10">
    <div class="row gy-2">
      <div class="col-3" *ngFor="let product of products">
        <div class="card shadow">
          <img
            src="{{ product.thumbnail }}"
            class="card-img-top"
            style="height: 150px; object-fit: cover"
            alt="{{ product.title }}"
          />
          <div class="card-body">
            <h5 class="card-title text-truncate">{{ product.title }}</h5>
            <p class="card-text text-truncate">
              {{ product.description }}
            </p>
            <p>{{ product.price }}</p>

            <div class="d-flex justify-content-between">
              <a class="btn btn-success">Add to <i class="bi bi-cart4"></i></a>
              <a class="btn btn-danger" (click)="addToFavs(product, $event)"
                ><i class="bi bi-arrow-through-heart-fill"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2"><app-shopping-kart></app-shopping-kart></div>
</div>
